doctype html
html(lang="en")
	head
		include _head
	body
		link(rel='stylesheet', type='text/css', href='css/footer.css')
		footer#footer.footer.homepage
			a(href="#").to-top#js_to_top Torna a inizio pagina
			.footer-wrap
				ul.copyright-list
					li
						a(href="#") Condizioni generali
					li
						a(href="#") Privacy e cookie policy
				.info-wrap
					.warning-text
						p il gioco è vietato ai minori di anni 18 - può causare dipendenza
						ul.icon-list
							li
								img(src="images/new-footer/age.svg", alt="18+", width='40')
							li
								img(src="images/new-footer/legal.svg", alt="gioco legale e responsabile", width="70")
							li
								img(src="images/new-footer/aams.svg", alt="aams", width="49")
					ul.contact-list
						li
							a(href="")
								img(src="images/new-footer/card.svg", alt="card", width="27")
								span Carta dei servizi per il gioco a distanza
						li
							span numero verde TVNGA
							a(href="tel:800558822").number 800 55 88 22

				.list-wrap
					ul.info-list
						li.title Quote
						li
							a(href="#") Quote Serie A
						li
							a(href="#") Quote Serie B
						li
							a(href="#") Quote Champions League
						li
							a(href="#") Scommesse Oggi
					ul.info-list
						li.title Pronostici
						li
							a(href="#") Pronostici Serie A
						li
							a(href="#") Pronostici Serie B
						li
							a(href="#") Pronostici Champions League
						li
							a(href="#") Pronostici Oggi
					ul.info-list
						li.title Risorse Utili
						li
							a(href="#") Guide Scommesse
						li
							a(href="#") Glossario
						li
							a(href="#") Statistiche Scommesse
						li
							a(href="#") Risultati Live
			.copyright-block
				.container
					p ASAP ITALIA SRL Piazza di Villa Carpegna 58, 00165 Roma P.Iva 10856401004 - Tutti i diritti riservati Superscommesse è una Testata Giornalistica registrata presso il Tribunale di Roma, n. 229/2013 del 09-10-2013 Societa' con socio unico soggetta a direzione e coordinamento di Catena Operations Ltd, Malta
		script(src="js/main.js")
