doctype html
html(lang="en")
	head
		include _head
	body
		header.header
			.container
				.flex-wrap.between-xs
					a(href="#").logo
						img(src="images/logo.svg", alt="")
					.navigation
						ul
							li
								a(href="#why") why to play  
							li
								a(href="#get-alpha") GET ALPHA 
							li
								a(href="#support")  SUPPORT ELTERIA 
							li
								a(href="#media") Media
							li
								a(href="#ruirements") Ruirements
							li
								a(href="#home") ADD TO STEAM WISHLIST
		section.first-section#home
			.flex-wrap.align-center
				.container
					.first-section-caption
						img(src="images/logo.svg", alt="")
						b Launch Your Enemy Through Walls!
					.button-group
						a(href="#").btn.btn--yellow
							img(src="images/steam.svg", alt="")
							| Add to Steam Wishlist
						a(href="#").btn-gameplay
							img(src="images/gameplay.svg", alt="")
							span  Gameplay
						a(href="#").btn.btn--request
							img(src="images/request.svg", alt="")
							| Request for Alpha
			.first-section-img
				img(src="images/first-img.svgv", alt="") 
		section.why-section
			.container  
				.why-container#why
					.header-section
						| 10 Reasons Why
						span You Should Play Etheria  
					.why-list
					.why-col
						.why-item
							b 
								span 1.
								| Voxel Graphics  
							p Unique technology for working with voxels. We have gone from cubic worlds in favor of a beautiful atmospheric world with bright, good graphics. 
						.why-item
							b
								span 2.
								| Unique Mobs and Bosses
							p Unique, impossibly cute mobs, both peaceful and territorial that you’ll find on your journey. Oh, and the boss monsters are just as cute, if far more dangerous.
						.why-item
							b
								span 3.
								|  Non-target Combat System
							p  Non-targeted battle system that prioritizes player’s skill over numerical advantages. Dodgeenemy’s attacks, and then bring down the pain!
						.why-item
							b
								span 4.
								| The World Is Yours!
							p A procedure-generated huge world that a player can completely modify.
					.why-col
						.why-item
							b
								span 5.
								| A Bunch of Characters
							p Five branches of the development of the game class for each character, each class has unique game mechanics
						.why-item
							b
								span 6. 
								| Voxel Construction
							p Build your home from hundreds of voxel species. Various architectural elements will make your home unique. Develop it, decorate and invite friends.
						.why-item
							b
								span 7.
								| Combat Construction
							p Use blueprints to build walls of stairs and defensive buildings during the battle.
						.why-item
							b
								span 8.
								| Polymorph system
							p The ability to turn into mobs and use their abilities.
					.why-col
						.why-item
							b
								span 9.
								| Guild System
							p Guild system, team up with friends and build your city.
						.why-item
							b
								span  10.
								| The System of Battlegrounds
							p Community events to shake things up, up to, and including, Battlegrounds where the last adventurer standing wins
						.why-item.why-item--youtube
							img(src="images/youtube.png", alt="")
							b Want to Know More?
								span Check  Gameplay Video
				.get-alpha#get-alpha
					.form-box
						.form-box__head 
							b You Think This is Not Enough? 
							| Get your 
							span free key 
							| and find your reason to play Elteria!
						.flex-wrap
							.form-box__left
								.form-box__left-head 
									| The game is 
									span Under Development
									| , and now we are conducting 
									| a closed 
									span Alpha test
								p You can help the project with both your capabilities and money.
								p If you have an information resource (channel blog site) so that players can find out about our project, fill out the form and we will send you the key.
								p If you can help financially then 
									a(href="#") Purchase
									| Everyone who helped us can count on an individual approach and help in the game.
								p After the release of the game, everyone who helped us will receive souvenirs.
								img(src="images/cat.png", alt="")
							.form-box__right
							form(action="#")
								.input-group
									label Your name:
									input(type="text", value="Riddick")
								.input-group
									label Tell us few word about yourself:
									textarea Everyone who helped us can count on an individual approach and help in the game.After the release of the game, everyone who helped us will receive souvenirs.
								.input-group
									label Link to your blog, website or profile:
									input(type="text", value="www.furiosa.com")
								.input-group
									label We will send Link to Game to this email:
									input(type="email", value="furiosa@gmail.com")
								a(href="#").btn.btn--request
									img(src="images/request.svg", alt="")
									| Request for Alpha
						.form-box-images
							img(src="images/avatar1.png", alt="")
							img(src="images/avatar2.png", alt="")
							img(src="images/avatar3.png", alt="")
							img(src="images/avatar4.png", alt="")
							img(src="images/avatar5.png", alt="")
		section.support-section#support
			.container
				.header-section.header-section--img
					img(src="head-img.png", alt="")
					| Do you Like the Project? Support us and the Project
					.support-row
						.support-item.support-item--starter
							img(src="images/support1.png", alt="")
							img(src="images/support2.png", alt="")
							img(src="images/support3.png", alt="")
							.support-item__head Starter
							.support-item-price $49.99
							.support-item__list
								ul
									li
										img(src="images/icon1.svg", alt="")
										span 1 
										| Steam Keys
									li
										img(src="images/icon2.svg", alt="")
										span 1 
										|Frog Hats
									li
										img(src="images/icon3.svg", alt="")
										| Premium Currency equal to 
										span 25$
									li
										img(src="images/icon4.svg", alt="")
										span 1 
										| Liana Private Banner
							a(href="#").btn-support
								img(src="images/cart.svg", alt="")
								| Buy Pack - 49.99$
					.support-row
						.support-item.support-item--silver
							.sale-block
								.sale-block-box
									| Benefit 
									span 200%
							.support-item__head Silver
							.support-item-price $129.99
							.support-item__list
								ul
									li
										img(src="images/icon1.svg", alt="")
										span 4 
										| Steam Keys
									li
										img(src="images/icon2.svg", alt="")
										span 4 
										|Frog Hats
									li
										img(src="images/icon3.svg", alt="")
										| Premium Currency equal to 
										span 65$
									li
										img(src="images/icon4.svg", alt="")
										span 4 
										| Liana Private Banner
									li
										img(src="images/icon5.svg", alt="")
										span 4 
										| Unique Vestment of Shadows
									span.more-list And many more
							.support-models
								.support-model-one
									img(src="images/model1.png", alt="")
									span x 4
								.support-model-one
									img(src="images/model2.png", alt="")
									span x 4
							a(href="#").btn-support
								img(src="images/cart.svg", alt="")
								| Buy Pack - 129.99$
						.support-item.support-item--bronze
							.sale-block
								.sale-block-box
									| Benefit 
									span 150%
							.support-item__head Bronze
							.support-item-price $89.99
							.support-item__list
								ul
									li
										img(src="images/icon1.svg", alt="")
										span 2
										| Steam Keys
									li
										img(src="images/icon2.svg", alt="")
										span 2
										|Frog Hats
									li
										img(src="images/icon3.svg", alt="")
										| Premium Currency equal to 
										span 40$
									li
										img(src="images/icon4.svg", alt="")
										span 2
										| Liana Private Banner
									li
										img(src="images/icon5.svg", alt="")
										span 2
										| Unique Vestment of Shadows
									span.more-list And many more
							.support-models
								.support-model-one
									img(src="images/model1.png", alt="")
									span x 2
							a(href="#").btn-support
								img(src="images/cart.svg", alt="")
								| Buy Pack - 89.99$
					.support-row
						.support-item.support-item--gold
							img.img-sup-item(src="images/support2.png", alt="")
							.sale-block
								.sale-block-box
									| Benefit 
									span 500%
							.support-item__head Gold
							.support-item-price $499.99
							.support-item__list
								ul
									li
										img(src="images/icon1.svg", alt="")
										span 8 
										| Steam Keys
									li
										img(src="images/icon2.svg", alt="")
										span 8 
										|Frog Hats
									li
										img(src="images/icon3.svg", alt="")
										| Premium Currency equal to 
										span 150$
									li
										img(src="images/icon4.svg", alt="")
										span 8
										| Liana Private Banner
									li
										img(src="images/icon5.svg", alt="")
										span 8
										| Unique Vestment of Shadows
							.support-models
								.support-model-one
									img(src="images/model1.png", alt="")
									span x 8
								.support-model-one
									img(src="images/model2.png", alt="")
									span x 8
							a(href="#").btn-support
								img(src="images/cart.svg", alt="")
								| Buy Pack - 499.99$
						.support-item.support-item--platinum
							img.img-sup-item(src="images/support3.png", alt="")
							.sale-block
								.sale-block-box
									| Benefit 
									span 300%
							.support-item__head Platinum
							.support-item-price $999.99
							.support-item__list
								ul
									li
										img(src="images/icon1.svg", alt="")
										span 16
										| Steam Keys
									li
										img(src="images/icon2.svg", alt="")
										span 16
										|Frog Hats
									li
										img(src="images/icon3.svg", alt="")
										| Premium Currency equal to 
										span 150$
									li
										img(src="images/icon4.svg", alt="")
										span 16
										| Liana Private Banner
									li
										img(src="images/icon5.svg", alt="")
										span 16
										| Unique Vestment of Shadows
									span.more-list And many more
							.support-models
								.support-model-one
									img(src="images/model1.png", alt="")
									span x 16
								.support-model-one
									img(src="images/model2.png", alt="")
									span x 16
							a(href="#").btn-support
								img(src="images/cart.svg", alt="")
								| Buy Pack - 999.99$
		section.media-section#support
			.container
				.header-section.header-section--img
					img(src="media-img.png", alt="")
					| Media
				.media-gallery
					a(href="#").gallery-item.gallery-item--video.gall-33
						span.play-button
						img(src="images/media1.jpg", alt="")
					a(href="images/media2.jpg").gallery-item.gall-33
						span.play-button
						img(src="images/media2.jpg", alt="")
					a(href="images/media3.jpg").gallery-item.gall-33
						span.play-button
						img(src="images/media3.jpg", alt="")

					a(href="images/media14jpg").gallery-item.gall-22
						span.play-button
						img(src="images/media4.jpg", alt="")
					a(href="images/media5.jpg").gallery-item.gall-17
						span.play-button
						img(src="images/media5.jpg", alt="")
					a(href="images/media6.jpg").gallery-item.gall-22
						span.play-button
						img(src="images/media6.jpg", alt="")
					a(href="images/media7.jpg").gallery-item.gall-17
						span.play-button
						img(src="images/media7.jpg", alt="")
					a(href="images/media8.jpg").gallery-item.gall-22
						span.play-button
						img(src="images/media8.jpg", alt="")
					span.show-more-gallery  + Show more
		section.media-section#support
			.container
				.header-section.header-section--img
					img(src="system-img.png", alt="")
					| System Requirements
				.tab-container
					.tab-nav
						.tab-nav-item.active(data-tab="1")
							img(src="images/windows.svg", alt="")
							| Windows
						.tab-nav-item(data-tab="2")
							img(src="images/steam.svg", alt="")
							| SteamOS & Linux
					.tab-box
						.tab-box-item(data-tab="1")
							.tab-col
								.tab-list
									b Minimum
									ul
										li Requires a 64-bit processor and operating system
										li 
											span OS: 
											| Windows 7, 8/8.1, 10
										li 
											span Processor:
											| Dual Core 3Ghz
										li 
											span Memory:
											| 6 GB RAM
										li 
											span Graphics:
											| 2GB Video Memory, OpenGL 3.1+ support
										li 
											span Network:
											| Broadband Internet connection
										li 
											span Storage:
											| 4 GB available space
							.tab-col
								.tab-list
									b Recommened
									ul
										li Requires a 64-bit processor and operating system
										li 
											span OS: 
											| Windows 7, 8/8.1, 10
										li 
											span Processor:
											| Quad Core 3Ghz

										li 
											span Memory:
											| 8 GB RAM
										li 
											span Graphics:
											| Nvidia GTX 950 / AMD RX 460
										li 
											span Network:
											| Broadband Internet connection
										li 
											span Storage:
											| 4 GB available space
				.join-to-community
					img(src="images/community.png", alt="")
					.social-box
						img(src="images/frog.png", alt="")
						b Join Our Community
						ul
							li
								a(href="#")
									img(src="images/facebook.svg", alt="")
							li
								a(href="#")
									img(src="images/twitter.svg", alt="")
							li
								a(href="#")
									img(src="images/vk.svg", alt="")
							li
								a(href="#")
									img(src="images/game.svg", alt="")
							li
								a(href="#")
									img(src="images/youtube.svg", alt="")
							li
								a(href="#")
									img(src="images/steam.svg", alt="")
					.copy
						| Developer: Elteria Team  
						br
						| Publisher: Heatherglade Publishing KFT
						br
						| ©
						span.newY 2019
						|  ALL RIGHTS RESERVED.
						.img-box
							img(src="images/elteria.svg", alt="")
							img(src="images/heatherglade.svg", alt="")
		script(src="js/all-plugins.min.js")
		script(src="js/main.js")


